/public_html/node_modules
/public_html/public/hot
/public_html/public/storage
/public_html/storage/framework/sessions/*
/public_html/storage/framework/views/*
/public_html/storage/framework/cache/data/*
/public_html/storage/logs/*.log
/public_html/vendor
/public_html/.phpunit.result.cache
/public_html/Homestead.json
/public_html/Homestead.yaml
/public_html/npm-debug.log
/public_html/yarn-error.log
/php74.zip

public_html/storage/*.key
public_html/.idea
public_html/_ide_helper.php
public_html/.DS_Store

# Custom ignores
# run.sh
/mysql-data/
/mysql-run/
mysql.log
*.log
error_log
.idx/.data